.container-bg-dcim {
  background: url('../images/home/bg-dcim.png') no-repeat;
  background-position: 3% 15%;
  background-size: 45%;
}

.container-bg-indicators {
  background: url('../images/home/bg-indicators.png') no-repeat;
  background-position: center;
  background-size: 86%;
}

.container-bg-open {
  background: url('../images/home/bg-open.png') no-repeat;
  background-position: 0% 60%;
  background-size: 52%;
}

.container-bg-keynesia {
  background: url('../images/home/bg-keynesia.png') no-repeat;
  background-position: 100% 23%;
  background-size: 65%;
}

.container-bg-platform {
  background: url('../images/home/bg-platform.png') no-repeat;
  background-position: left 57%;
  background-size: 73%;
}

.container-bg-smart {
  background: url('../images/home/bg-smart.png') no-repeat;
  background-position: 50% 43%;
  background-size: 85%;
}

.container-bg-demo {
  background: url('../images/home/bg-demo.png') no-repeat;
  background-position: 50% 50%;
  background-size: 90%;
}

.container-bg-know {
  background: #f2f5fa url('../images/home/bg-know.png') no-repeat;
  background-position: 50% 30%;
  background-size: 100%;
}

.container-bg-video {
  background: url('../images/home/bg-video.png') no-repeat;
  background-position: 80% 125%;
  background-size: 60%;
}

.footer {
  background-image: url('../images/common/bg-footer.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 23rem;
}

/* About */
.container-bg-dc {
  background: url('../images/about/bg-dc.png') no-repeat;
  background-position: 0% 100%;
  background-size: 50%;
}

.container-bg-labs {
  background: url('../images/about/bg-labs.png') no-repeat;
  background-position: 76% 85%;
  background-size: 75%;
}

.container-bg-try {
  background: url('../images/about/bg-try.png') no-repeat;
  background-position: 50% 50%;
  background-size: 55%;
}

/* DCIM */

.container-bg-dcim-white {
  background: url('../images/dcim/bg-dcim.png') no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

/* CCTV */

.container-bg-cctv {
  background: url('../images/cctv/bg-everywhere.png') no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

.container-bg-cctv-alarm {
  background: url('../images/cctv/bg-alarm.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

/* Access Control */

.container-bg-access-control {
  background: url('../images/access_control/bg-access-control.png') no-repeat;
  background-position: 50% 41%;
  background-size: 100%;
}

.container-bg-auth {
  background: url('../images/access_control/bg-auth.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.container-bg-panel {
  background: url('../images/access_control/bg-panel.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@include media-breakpoint-down(md) {
  .container-bg-dcim,
  .container-bg-keynesia,
  .container-bg-open,
  .container-bg-indicators,
  .container-bg-platform,
  .container-bg-smart,
  .container-bg-demo,
  .container-bg-know,
  .footer,
  .container-bg-labs,
  .container-bg-try,
  .container-bg-access-control,
  .container-bg-video {
    background-image: none;
  }

  .container-bg-dc {
    background-position: 0% 6%;
    background-size: 100%;
  }

  .container-bg-dcim-white {
    background-position: 0% 0%;
    background-size: 100%;
  }
}
